.containerSignup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(165, 177, 136) 42%, rgba(18, 185, 110, 0.41) 93.6% );
}

h2 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
}

form {
  display: flexbox;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 90px 10px #c6c4c6;
}

.form-control {
  margin: 15px;
  width: max-content;
}

.form-control label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}

.form-control input {
  width: 97%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
}

input:hover {
  background-color: #f2e0e0;
  transition: 1s;
}
button {
    flex:1 1 auto;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #004ede;
  cursor:pointer;
  margin-top: 10px;
  text-transform: uppercase;
  color: white;
}

button:hover {
  background-color: #174aa9;
  transition: 0.5s;
}

